<div><h1>TESTE editor</h1></div>
<ckeditor
  [config]="ckeConfig"
  #ckeditor
  [(ngModel)]="ckeditorContent"
  (drop)="onDrop($event)"
  (paste)="onPaste($event)"
  debounce="500"
>
  <ckbutton
    [name]="'fileExplorer'"
    [command]="'openFileExplorer'"
    (click)="openFileExplorer()"
    [icon]="ckIcon"
    [label]="'Abrir um arquivo local'"
    [toolbar]="'insert,1'"
  >
  </ckbutton>
</ckeditor>

<button style="margin-top: 10px" (click)="showResult()">Mostrar</button>
<div *ngIf="isShow">
  <div *ngFor="let item of listHmtl">
    <render-html-externo [item]="item"></render-html-externo>
  </div>
</div>
